.cover {
  display: flex;
  flex-direction: column;
  max-width: 1184px;
  margin: 0 48px;
}

@media screen and (max-width: 1024px) {
  .cover {
    max-width: 1024px;
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    max-width: 768px;
  }
}


